<div class="card">

    <!-- Personagem -->
    <ng-container *ngIf="character">
        <figure class="card__media">
            <img *ngIf="character.image" [src]="character.image" [alt]="character.name" class="card__img" />
            <figcaption class="card__content">
                <h2 class="card__title">{{ character.name }}</h2>
                <p class="card__text">{{ character.species }}</p>
            </figcaption>
        </figure>
    </ng-container>

    <!-- Episódio -->
    <ng-container *ngIf="episode">
        <section class="card__content card__content--info">
            <h2 class="card__title">{{ episode.name }}</h2>
            <p class="card__text">{{ episode.air_date }}</p>
            <p class="card__subtitle">{{ episode.episode }}</p>
        </section>
    </ng-container>

    <!-- Localização -->
    <ng-container *ngIf="location">
        <section class="card__content card__content--info">
            <h2 class="card__title">{{ location.name }}</h2>
            <p class="card__text">{{ location.type }}</p>
        </section>
    </ng-container>

</div>